@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-moz-range-thumb {
  background-color: #cbd5e1;
  border: none;
}

input[type="range"]::-moz-range-progress {
    height: 6px;
    background-color: #cbd5e1;
    border-radius: 15px;
    border: none;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background-color: #111827;
}